@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style: none;
    
}

*body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
header {
    height : 100vh;
    width: 100vw;
    background-image: url(test.jpg);
    background-size: cover;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CF998C;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    font-family: Arial, sans-serif;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 1.5rem;
}

.navbar-links a {
    color: white !important;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: white; /* Reste blanc au survol */
    text-decoration: underline; /* Optionnel : soulignement au survol */
}


.navbar-links a:active {
    color: white; /* Blanc pendant le clic */
}

@media screen and (max-width: 900px) {
    .nav-bar .menu-hamburger {
        display: block;
    }

    .nav-bar .nav-links ul {
        display: flex;
  } 
}
.timeline-content {
  position: relative;
  z-index: 1; /* Toujours au-dessus de la barre jaune */
  background: #0000FF ;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 5px 0px #ffffff;
  width: 60%; /* Largeur des rectangles */
  text-align: left;
}
.Learn-more {
  background-color: #ffcc00;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
.Learn-more:hover {
  background-color: #e6b800;
}

.timeline-item.show {
  opacity: 1;
  transform: translateY(0);
}
