@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style: none;
    
} 

*body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Pour le menu de navigation */
.menu {
    width: 100%;
}
nav {
    width: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
    position: sticky;
    top: 0;
    z-index: 1000; 
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
nav li {
    flex: 1;
    text-align: center;
}
nav ul::after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent; 
    padding: 10px 0;
    transition: 0.3s;
}
nav a:hover {
    color: orange;
    border-bottom: 2px solid orange;
}
@media (max-width: 768px) {
    nav ul {
        justify-content: center; 
        gap: 10px;
    }
    nav li {
        flex: unset;
    }
}

@media screen and (max-width: 900px) {
    /* jb.css */
.sidenav{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transform: translateY(-100%);
    transition: top 0.4s ease;

}
/* Sidenav menu links*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(0, 0, 0);
}

.sidenav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Active class*/
.sidenav.active {
    left: 0;
}

/* Close btn*/
.sidenav.close {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
}
.timeline-content {
  position: relative;
  z-index: 0; 
  background: #0000FF ;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 5px 0px #ffffff;
  width: 60%; /* Largeur des rectangles */
  text-align: left;
}

.timeline-item.show {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (min-width: 900px){
    .sidenav.close,
    .closeBtn,
    [class*="close"],
    button[aria-label="Close"]{
        display: none !important;
    }
}